.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlist-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 64px);
}

.flex-item {
    max-width: 400px;
    flex: 1 0 21%;
    margin: 8px;
}

.sidenav {
    width: 250px;
}

.playlist {
    border-bottom: 1px solid lightgrey;
}

.playlist:hover {
    cursor: pointer;
    background-color: grey;
}

#toggle {
    position: absolute;
    left: 0;
}

.child-container {
    width: 100%;
}