<mat-drawer-container>
  <mat-drawer #sidenav mode="side" opened class="sidenav">
    <app-loader *ngIf="!loadStatus.isLoaded" class="container"></app-loader>
    <mat-list *ngIf="loadStatus.isLoaded && !loadStatus.isError">
      <mat-list-item role="listitem" *ngFor="let spotifyPlaylist of spotifyPlaylists" class="playlist"
        [routerLink]="['user/' + spotifyPlaylist.owner + '/playlist/' + spotifyPlaylist.id]">
        <span>
          {{spotifyPlaylist.name}}
        </span>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <div class="playlist-container">
    <button mat-flat-button color="primary" (click)="sidenav.toggle()" id="toggle">Toggle</button>
    <div class="child-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
