.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.tracks-container {
    width: 75%;
}

.tracks-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 16px; */
}

.tracks {
    /* width: 75%; */
}