.tracks-container {
    width: 75%;
    padding: 16px;
}

.tracks-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tracks {
    max-height: 500px;
    min-height: 500px;
    overflow: auto;
}

.text-left {
    text-align: left;
}

.flex-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.flex-horiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-2 {
    flex: 0 0 50%;
    margin: 8px;
}

.header h1 {
    text-align: center;
}